.content-main {
  padding: 15px 125px 0 95px;
  margin: 0 auto;
}
@media (max-width: 1040px) {
  .content-main {
    padding: 15px 50px 0 50px;
  }
}
@media (max-width: 1040px) and (max-width: 500px) {
  .content-main {
    padding: 15px 20px 0 20px;
  }
}
.content-main__carousel-block {
  border-radius: 5px;
  padding-bottom: 50px;
  margin: 15px auto;
}
@media (max-width: 800px) {
  .content-main__carousel-block {
    display: none;
  }
}
.content-main__carousel {
  max-width: 100%;
}
.content-main__menu {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-gap: 25px;
}
@media (max-width: 800px) {
  .content-main__menu {
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
}
.content-main__chicken {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media (max-width: 800px) {
  .content-main__chicken {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 7;
    grid-row-end: 8;
  }
}
.content-main__eel {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media (max-width: 800px) {
  .content-main__eel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
.content-main__corn-dog {
  position: relative;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
@media (max-width: 800px) {
  .content-main__corn-dog {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 7;
  }
}
.content-main__pizza {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media (max-width: 800px) {
  .content-main__pizza {
    display: none;
  }
}
.content-main__stocks {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
@media (max-width: 800px) {
  .content-main__stocks {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 8;
    grid-row-end: 9;
  }
}
.content-main__text {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.content-main__text:hover {
  color: #FF9846;
}
@media (max-width: 500px) {
  .content-main__text {
    font-size: 22px;
  }
}
.content-main__text-top {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #FFFFFF;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}
.content-main__text-top:hover {
  color: #FF9846;
}
.content-main__img {
  max-width: 100%;
}
.content-main__pizza-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__pizza-mini {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
  }
}
.content-main__set-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__set-mini {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: block;
  }
}
.content-main__wok-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__wok-mini {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
  }
}
.content-main__roles-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__roles-mini {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: block;
  }
}
.content-main__sushi-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__sushi-mini {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: block;
  }
}
.content-main__soup-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__soup-mini {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    display: block;
  }
}
.content-main__salad-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__salad-mini {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    display: block;
  }
}
.content-main__water-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__water-mini {
    position: relative;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    display: block;
  }
}
.content-main__kombo-mini {
  display: none;
}
@media (max-width: 800px) {
  .content-main__kombo-mini {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 6;
    display: block;
  }
}
.content-main__img-mini {
  max-width: 100%;
}

.content-compilation {
  margin-top: 50px;
}
@media (max-width: 800px) {
  .content-compilation {
    display: none;
  }
}
.content-compilation__text {
  margin-bottom: 30px;
  padding-left: 95px;
}
.content-compilation__text__link {
  margin-right: 30px;
  text-decoration: none;
  color: #000000;
  font-size: 24px;
  font-weight: 500;
}
.content-compilation__text__link:hover {
  cursor: pointer;
  color: #FF9846;
}
.content-compilation__card {
  display: flex;
  justify-content: space-between;
}
.content-compilation__card__arrow-l {
  padding-left: 10px;
}
.content-compilation__card__arrow-r {
  padding-right: 40px;
}

@media (max-width: 1150px) {
  .card1 {
    display: none;
  }
}

/*# sourceMappingURL=style-main.css.map */
