.content {
  background-color: #F2F2F2;
  margin: 0 415px 0 335px; }
  @media (max-width: 1919px) {
    .content {
      margin: 0 0 0 335px; } }
  @media (max-width: 1505px) {
    .content {
      margin: 0; } }

.content-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-bottom: 1px solid #A4ACAD;
  margin: 0 auto; }
  @media (max-width: 900px) {
    .content-nav {
      padding: 0; } }
  .content-nav__left {
    display: flex;
    align-items: center; }
  .content-nav__menu {
    padding: 0 10px;
    display: none; }
    @media (max-width: 1505px) {
      .content-nav__menu {
        display: block; } }
    @media (max-width: 800px) {
      .content-nav__menu {
        display: none; } }
    .content-nav__menu__text {
      margin: 0 auto;
      text-align: center; }
    .content-nav__menu__link {
      text-decoration: none;
      color: #111111;
      font-size: 16px; }
      .content-nav__menu__link:hover {
        color: #FF9846; }
  .content-nav__logo {
    padding: 15px 0; }
    @media (max-width: 900px) {
      .content-nav__logo {
        padding: 15px; } }
    @media (max-width: 500px) {
      .content-nav__logo {
        padding: 15px 0; } }
    .content-nav__logo__order {
      padding: 15px;
      display: none; }
      @media (max-width: 800px) {
        .content-nav__logo__order {
          display: block; } }
      @media (max-width: 400px) {
        .content-nav__logo__order {
          padding: 15px 5px; } }
  .content-nav__img {
    max-width: 60px;
    padding: 0 10px;
    border-radius: 50%;
    display: none; }
    @media (max-width: 1505px) {
      .content-nav__img {
        display: block; } }
  .content-nav__number {
    font-weight: 500;
    border-right: 1px solid #A4ACAD;
    margin: 0 auto;
    padding: 0 15px; }
    @media (max-width: 900px) {
      .content-nav__number {
        padding: 15px; } }
    @media (max-width: 500px) {
      .content-nav__number {
        padding: 15px 5px;
        font-size: 12px; } }
    .content-nav__number__order {
      font-weight: 500;
      padding: 0 15px; }
      @media (max-width: 1900px) {
        .content-nav__number__order {
          padding: 15px; } }
      @media (max-width: 500px) {
        .content-nav__number__order {
          padding: 15px 5px;
          font-size: 12px; } }
    .content-nav__number__top {
      font-size: 18px;
      margin: 0;
      text-align: center; }
      @media (max-width: 500px) {
        .content-nav__number__top {
          font-size: 12px; } }
    .content-nav__number__phone {
      margin: 0;
      color: #FF9846;
      text-align: center; }
    .content-nav__number__time {
      color: #A4ACAD;
      font-size: 14px;
      display: flex;
      margin: 0;
      text-align: center;
      padding: 5px 0;
      justify-content: center; }
      @media (max-width: 900px) {
        .content-nav__number__time {
          display: none; } }
    .content-nav__number__time-img {
      padding-right: 5px;
      text-align: center; }
  .content-nav__sity {
    padding-left: 10px; }
    @media (max-width: 1000px) {
      .content-nav__sity {
        display: none; } }
    .content-nav__sity__top {
      font-weight: 300;
      color: #A4ACAD;
      font-size: 14px;
      margin: 0;
      padding-bottom: 4px; }
    .content-nav__sity__bottom {
      font-size: 18px;
      margin: 0; }
  .content-nav__right {
    display: flex;
    align-items: center; }
  .content-nav__time {
    color: #A4ACAD;
    font-size: 14px;
    margin: 0;
    text-align: center;
    padding: 3px 20px;
    display: none; }
    @media (max-width: 900px) {
      .content-nav__time {
        display: block;
        padding: 3px 5px; } }
    @media (max-width: 500px) {
      .content-nav__time {
        font-size: 12px; } }
  .content-nav__text {
    font-size: 18px;
    text-decoration: none;
    color: #111111;
    padding-right: 15px; }
    .content-nav__text:hover {
      color: #FF9846; }
    @media (max-width: 900px) {
      .content-nav__text {
        display: none; } }
  .content-nav__basket {
    padding: 0 10px;
    text-align: center;
    display: none; }
    @media (max-width: 1919px) {
      .content-nav__basket {
        display: block; } }
    @media (max-width: 800px) {
      .content-nav__basket {
        display: none; } }
    .content-nav__basket__order {
      padding: 0 10px;
      text-align: center;
      display: none;
      position: absolute;
      top: 40px;
      right: 0; }
      @media (max-width: 1490px) {
        .content-nav__basket__order {
          display: block; } }
      @media (max-width: 900px) {
        .content-nav__basket__order {
          top: 20px; } }
      @media (max-width: 800px) {
        .content-nav__basket__order {
          display: none; } }

/*# sourceMappingURL=style-content.css.map */
