@font-face {
  font-family: "dinpro";
  src: url("../fonts/dinpro_light.otf");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "dinpro";
  src: url("../fonts/dinpro.otf");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "dinpro";
  src: url("../fonts/dinpro_medium.otf");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "dinpro";
  src: url("../fonts/dinpro_black.otf");
  font-weight: 700;
  font-style: normal; }
.body {
  background-color: #F2F2F2;
  margin: 0 auto; }
  @media (min-width: 1150px) {
    .body {
      background-color: white; } }

.general {
  display: flex;
  font-family: "dinpro";
  font-weight: 400;
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }

input {
  outline: none; }

.menu {
  width: 16.6%;
  text-align: center;
  position: sticky; }
  @media (max-width: 1505px) {
    .menu {
      width: 22%; } }
  @media (max-width: 1420px) {
    .menu {
      width: 18%; } }
  @media (max-width: 1150px) {
    .menu {
      display: none;
      width: 0; } }

.menu-container {
  max-width: 180px;
  margin: 0 auto; }

.menu-logo:first-child {
  padding: 30px 0 10px; }

.menu-line {
  width: 180px;
  color: #A4ACAD;
  margin: 30px 0 10px; }

.menu-nav {
  display: flex;
  align-items: center;
  padding: 0 0 30px 10px;
  font-size: 24px;
  position: relative; }
  .menu-nav__img {
    padding-right: 22px; }

.menu-link {
  color: #000000;
  text-decoration: none; }
  .menu-link:hover {
    color: #FF9846; }
  .menu-link__top {
    position: absolute;
    left: 131px;
    top: -25px;
    font-size: 14px;
    border-radius: 10px;
    background-color: #EB5757;
    padding: 1px 8px;
    text-transform: uppercase;
    color: #FFF; }

.order-wrapper {
  width: 22.4%; }
  @media (max-width: 1505px) {
    .order-wrapper {
      width: 0; } }

.order {
  text-align: center;
  position: sticky;
  max-width: 290px;
  margin: 0 auto;
  padding-left: 25px; }
  @media (max-width: 1505px) {
    .order {
      display: none; } }

.map {
  margin: 20px auto 0;
  position: relative;
  width: 290px; }

.map-main {
  position: relative; }
  .map-main__location {
    position: absolute;
    top: 80px;
    left: 115px; }
  .map-main__big-map {
    width: 290px;
    position: relative; }
  .map-main__big-map-img {
    max-width: 100%; }
  .map-main__button {
    color: #F2F2F2;
    font-size: 18px;
    padding: 15px 50px; }
  .map-main__button-div {
    margin: 20px auto 150px;
    background-color: #F46D40;
    padding: 15px 30px;
    border-radius: 5px; }

.map-footer {
  border-radius: 0 0 5px 5px;
  background-color: #F2F2F2; }
  .map-footer__title {
    padding-top: 38px;
    font-weight: 500;
    font-size: 24px;
    margin: 0 auto; }
  .map-footer__subtitle {
    padding: 15px 0 10px;
    color: #A4ACAD;
    font-size: 18px;
    margin: 0 auto; }

.map-top {
  margin: -50px auto 0; }
  .map-top__title {
    font-size: 12px;
    font-weight: 400;
    color: #A4ACAD; }
  .map-top__input {
    border: #F2F2F2 1px solid;
    border-bottom: #A4ACAD 1px solid;
    width: 284px; }
  .map-top__time {
    background-color: #FF9846;
    border-radius: 0px 0px 5px 5px;
    display: flex;
    justify-content: center;
    margin: 5px 0 17px; }
  .map-top__time-text {
    margin: 1px 0;
    font-size: 14px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: initial;
    padding-left: 5px; }

.map-desktop {
  margin: 20px auto 0;
  position: relative;
  max-width: 290px; }

.content-line {
  border-top: 1px solid #A4ACAD;
  margin: 0 125px 22px 95px; }
  @media (max-width: 1040px) {
    .content-line {
      margin: 0 50px 22px; } }
  @media (max-width: 500px) {
    .content-line {
      margin: 0 20px 22px; } }

.content-footer {
  margin: 0 125px 20px 95px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  @media (max-width: 1040px) {
    .content-footer {
      margin: 0 50px 20px; } }
  @media (max-width: 800px) {
    .content-footer {
      display: block;
      text-align: center; } }
  .content-footer__social {
    max-width: 190px;
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 800px) {
      .content-footer__social {
        margin: 0 auto; } }
  .content-footer__social-img {
    opacity: 50%; }
    .content-footer__social-img:hover {
      cursor: pointer;
      opacity: 100%; }

@media (max-width: 800px) {
  .content-footer-left {
    display: none; } }
.content-footer-left__link {
  font-size: 18px;
  text-decoration: none;
  color: black; }
  .content-footer-left__link:hover {
    cursor: pointer;
    color: #FF9846; }

.content-footer-center {
  padding-left: 40px;
  min-width: 240px;
  border-left: 1px solid #A4ACAD;
  border-right: 1px solid #A4ACAD; }
  @media (max-width: 900px) {
    .content-footer-center {
      padding-left: 20px; } }
  @media (max-width: 800px) {
    .content-footer-center {
      border: none; } }
  .content-footer-center__text-number {
    font-weight: 500;
    font-size: 18px; }
    @media (max-width: 800px) {
      .content-footer-center__text-number {
        display: none; } }

.input-number {
  background-color: #F2F2F2;
  border: #F2F2F2 1px solid;
  border-bottom: #A4ACAD 1px solid; }
  @media (max-width: 800px) {
    .input-number {
      display: none; } }

.content-footer-right {
  padding-left: 40px;
  min-width: 170px; }
  @media (max-width: 900px) {
    .content-footer-right {
      padding-left: 20px; } }
  @media (max-width: 800px) {
    .content-footer-right {
      padding-bottom: 100px; } }
  .content-footer-right__text {
    color: #A4ACAD;
    font-size: 18px;
    margin: 3px 0; }

/*# sourceMappingURL=style.css.map */
